@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

html, body, div, li{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}

h1, h2, p {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: antiquewhite;
}


body {
    background-color: #3C5575;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


#navbar {
    background-color: #3C5575;
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    text-align: center;
}

.nav-list li {
    display: inline;
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}


.welcome-section {
    background-color: #7697C2;
    padding: 100px 0;
    text-align: center;
}

.welcome-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.projects-section {
    background-color: #7697C2;
    padding: 80px 0;
    text-align: center;
}

.projects-section h2 {
    font-size: 24px;
}

.contact-section {
    background-color: #3C5575;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.contact-section h2 {
    font-size: 24px;
}

.contact-details {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contact-details:hover {
    background-color: #5182C2;
}

.contact-details i {
    margin-right: 5px;
}
